@model HomeBrewComp.Web.Features.Login.LoginRequest
@using HomeBrewComp.Web.Features.Login

<div>
    @this.FormFor(new LoginRequest())
    @this.LabelFor(m => m.Username): @this.TextBoxFor(m => m.Username)
    @this.LabelFor(m => m.Password): @this.TextBoxFor(m => m.Password).Attr("type", "password")
    <button type="submit" name="Login">Login</button>
    @this.EndForm()
</div>
