@using HomeBrewComp.Web.Features.Home
@using HomeBrewComp.Web.Features.Login

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>HomeBrew Comp</title>
    @{
        this.Css("siteCss");
    }

    @this.WriteCssTags()
</head>
<body>
    <div id="header" class="container">
        <div id="logo">
            <h1>@(this.LinkTo<HomeRequest>().Text("Home Brew Comp"))</h1>
        </div>
        <div id="menu">
            <ul>
                <li class="active">
                    @(this.LinkTo<HomeRequest>().Text("Home"))
                </li>
                <li>@(this.LinkTo<LoginEndpoint>(login => login.get_Login()).Text("Login"))</li>
            </ul>
        </div>
    </div>
    <div id="page">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div id="copyright" class="container">
        <p>Copyright (c) 2013 HomeBrewComp.com. All rights reserved. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
    </div>
</body>
</html>
